@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --light: #fff;
  --success: #0abf30;
  --warning: #ffce0c;
  --error: #e24d4c;
  --info: #3498db;

  --darksuccess: #00901f;
  --darkwarning: #dfb612;
  --darkerror: #bf3939;
  --darkinfo: #2d82ba;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(238, 238, 238);
}

.toast {
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.toast-content {
  padding: 10px;
  display: flex;
  background: var(--light);
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.toast-content .messgae {
  font-weight: 400;
  color: #343434;
  margin: 10px 15px;
}

.toast-content .text-1 {
  font-weight: 600;
}

.toast-content .close {
  font-size: 14px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.toast-content .check {
  color: var(--success);
  font-size: 20px;
}

.success {
  border-left: 6px solid var(--success);
  position: relative;
}

.success::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0px;
  bottom: 0;
  background: var(--success);
  animation: anim 5s linear forwards;
}

.toast-content .triangle {
  color: var(--warning);
}

.warning {
  position: relative;
  border-left: 6px solid var(--warning);
}

.warning::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0px;
  bottom: 0;
  background: var(--warning);
  animation: anim 5s linear forwards;
}

.toast-content .exclamation {
  color: var(--error);
}

.error {
  position: relative;
  border-left: 6px solid var(--error);
}

.error::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0px;
  bottom: 0;
  background: var(--error);
  animation: anim 5s linear forwards;
}

.toast-content .info-icon {
  color: var(--info);
}

.info {
  position: relative;
  border-left: 6px solid var(--info);
}

.info::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0px;
  bottom: 0;
  background: var(--info);
  animation: anim 5s linear forwards;
}

@keyframes anim {
  100% {
    width: 0%;
  }
}

/*buttons*/

.buttons {
  position: absolute;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}

.btn-success {
  background: var(--success);
}

.btn-success:hover {
  color: white;
  background: var(--darksuccess);
}

.btn-success:active,
.btn-error:active,
.btn-warning:active,
.btn-info:active {
  transform: scale(90%);
}

.btn-warning {
  background: var(--warning);
}

.btn-warning:hover {
  color: white;
  background: var(--darkwarning);
}

.btn-error {
  background: var(--error);
}

.btn-error:hover {
  color: white;
  background: var(--darkerror);
}

.btn-info {
  background: var(--info);
}

.btn-info:hover {
  color: white;
  background: var(--darkinfo);
}